header {
    background-color: #1C2827;
    color: #fbffff;
    font-family: 'Noto Serif Display', serif;

}

main {
    background-color: #fbffff;
    color: #000;
    font-family: 'Nunito', sans-serif;
}

footer {
    background-color: #1C2827;
    color: #fbffff;
    font-family: 'Nunito', sans-serif;

}