/* Fonts */
body {
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    color: #11151C;
    background-color: #FEFEFE;
}

h1, h3 {
    font-family: 'Prompt', sans-serif;
}

h1 {
    font-size: 20px;
    color: #11151C;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #11151C;
}

.container {
    max-width: 45%;
    margin: 0 auto;
}

/* Chart and Image Placeholder */
.chart img,
header img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Link Colors */
a {
    color: #B82B26;
}

a:hover {
    color: #FEFEFE;
}
