body {
    background-color: #f9edde; /* Change background color to yellow */
}
    /* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Merchant:wght@100&display=swap');

/* Headers - Google Fonts Version of Instrument Serif */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

/* Paragraphs - Google Fonts Version of Merchant Extra Light */
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Light font weight */
}
    /* Navigation Bar Styling */
.navbar {
    font-family: 'Playfair Display', serif;
}

.navbar-nav .nav-link {
    color: #87836F;
    /* Light tan */
}

.navbar-nav .nav-link:hover {
    color: #ad532c;
    /* Burnt orange */
}