body {
    background-color: #f9edde;
}

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Merchant:wght@100&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0 0 1.5rem 0;

}

li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.navbar {
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
}

.navbar-brand {
    color: #87836F;
    font-weight: 400;
}

.navbar-nav .nav-link {
    color: #87836F;
    font-weight: 400;
}

.navbar-nav .nav-link:hover {
    color: #ad532c;
    font-weight: 400;
}

.navbar-nav .nav-link.active {
    color: #ad532c;
}

ul li a {
    color: #87836F;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

ul li a:hover {
    color: #ad532c;
    text-decoration: underline;
}